



.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.red {
    color: rebeccapurple;
}

.cardbg {
    background-color: #5a4e4d;
    border: none;
    border-radius: 25px;
    color: white;
    padding: 20px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
}

.cardbg:hover {
    opacity: 1;
}

.cardbg2 {
    background-color: #7e675e;

    border-radius: 25px;
    color: black;
    padding: 20px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
}

.cardbg2:hover {
    opacity: 1;
}

.btn-primary {
    background-color: #e27184 !important;
    border: none !important;
    transition: 0.3s !important;
}

.btn-primary:hover{
    background-color: #c56373 !important;
}