.card {
    margin: 0 auto;
    /* Added */
    float: none;
    /* Added */
    margin-bottom: 10px;
    /* Added */
    color: red;
}

.row {
    height: 5em;
    border: 1px solid;
    margin: 10px 0;
    background-color: orange;
}